/target
.env
*.log
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/
*.iml
*.class
*.jar
*.war
*.exe
*.dll
*.pdb
*.swp



# Added by cargo
#
# already existing elements were commented out

#/target
